.carousel-custom {
  max-width: 700px;   
  margin: auto;
}

.carousel-custom .carousel-item img {
  width: 100%;
  height: 350px;      
  object-fit: cover;  
  object-position: center top;
}


@media (max-width: 768px) {
  .carousel-custom .carousel-item img {
    height: 200px;
  }
}


.img-container {
  height: 220px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-container img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

